body  {
    text-align: center;
    background-color: whitesmoke;
}

.loginButton {
    margin: 5px;
}

#display_div {
    display: none;
}

#login_div{
    display: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

#apps {
    padding: 15px 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    color: rgb(255, 255, 255);
    height: 20vh;
    overflow: scroll;
}

#yourApps{
    padding: 15px 5px;
    border-radius: 5px;
    background-color: rgba(255, 4, 4, 0.5);
    margin-left: 25vw;
    margin-right: 25vw;
    color: rgb(255, 255, 255);
    height: 10vh;
    overflow: scroll;
}

.download {
    margin: 5px;
}

#addApps {
    margin: 5px;
}

#Notify {
    height: 10vh;
    overflow: scroll;
}

#SignUp {
    display: block;
    margin: auto 0;
}

.SignUp {
    margin: 5px
}

#loginArea {
    padding: 1rem;
    border: solid black;
}

#essentials {
    display: none;
}